<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Workout Buddy</h1>
    <div id="conainter" class="d-flex p-2">
        <div id="register"  class="col-5">
            <h3>Register</h3>
            <form action="/create_user" method="post">
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control"  name="last_name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control"  name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control"  name="password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control"  name="cpass">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div id="login" class="col-5 ">
            <h3>Login</h3>    
            <form action="/login" method ="post">
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label >Email address</label>
                    <input type="email" class="form-control"  name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">login</button>
            </form>
        </div>
    </div>  
</body>
</html>